* {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: aqua;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    
}

.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.main {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(300px, auto) ;
    padding: 20px;
    margin: 10px 50px;

}

.main2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
    margin: 10px 20px;
}

.main3 {
    background-color: darkred;
    grid-column: 1/4;

}
.main4 {
    background-color: darkseagreen;
    grid-column: 1/4;


}



.aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 2rem;
}


.aside4 {
    background-color: green;
}

.aside2 {
    background-color: blue;
}


.aside3 {
    background-color: coral;
}


.footer {
    background-color: darkorchid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}